/*Karamjeet Singh 8915037*/

/*html font style*/
html {
    font: 20px Arial, sans-serif
}

/* h1 h2 font style*/
h1, h2 {
    font-variant: small-caps;
    text-align: center;
    color:#888;
}

#header-headings{
    background:#ccb533
}

.main-section {
    padding: 20px;
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2em;
}

q {
    font-style: italic;
    font-family: cursive;
    font-size: 1.2em; 
}

footer p {
    font-size: 0.8em;
    text-align: center;
    background: #3366cc;
    padding: 20px;
}

/*Height Width & Max Width*/
body {
    width: 80%;
    max-width: 900px;
}

.main-section-figure img {
    width: 100%;
    height: auto;
}

.main-section-figure {
    width: 80%;
    height: auto;
    margin: 1em auto;
}

iframe, video {
    width: 100%;
}

/*Box Model & Alignment*/

body {
    padding: 12px;
    text-align: center;
    margin: 0 auto;

}

header, footer{
    text-align: center;
}

main {
    text-align: center;
    padding: 30px;
}

#bio {
    text-align: left;
}


.main-section-figure {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

#quote {
    padding: 1em;
}

video,
iframe {
    padding: 0.6em;
}

/* Borders & Box Shadow*/

header, footer {
    width: 100%;
    font-style: arial;
    color: #ff9900;
}

main {
    background-color: rgb(234, 226, 217);
}
.main-section-figure img.rounded{
    border-radius: 30px;
}

#absolute-path-image ,#relative-path-image{
    background-color: hsla(35, 85%, 85%, 1);
    border: 2px solid #080808;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

#relative-path-image.rounded {
    width: 100%;
    font-style: arial;
    color: firebrick;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 14px;
}

#absolute-path-image.rounded {
    width: 100%;
    font-style: arial;
    color: darkorchid;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 12px;
}

video,
iframe.rounded{
    font-style: arial;
    color: rgb(50, 176, 204);
    border: 2px solid rgb(0, 0, 255);
    border-radius: 12px;
    width:"400px";
    height:"500px";
}

#quote.rounded {
    width: 100%;
    font-style: arial;
    color:#433;
    border: 2px solid #222;
    border-radius: 12px;
}

#quote {
    border: 2px solid #ff4263;
    box-shadow: 10px 5px 5px red;

}
video,
iframe.rounded {
    width: 100%;
    font-style: arial;
    color: #433;
    border:#888;
    border-radius: #999;
}

/*Colour*/

figcaption #relative-path-image{
    color: #cc7833;
}

figcaption #absolute-path-image{
    color: #ccc233;
}

h1, h2 {
    color:purple;
}

/*Background*/

header, footer {
    background: linear-gradient(to right rgb(204, 0, 255), rgb(0, 0, 255));
}

.main-section {
    background-color:hsla(295, 59%, 70%, 0.8);
}

figcaption #realtive-path-image{
    background-color: hsla(0, 100%, 50%, 0.8);
}

figcaption #absolute-path-image{
    background-color: hsla(272, 100%, 50%, 0.8);
}

/*Accessibility*/


